@font-face {
  font-family: 'Arial-MT' ;
  src: url('../fonts/ari.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700');
/* Site-Wide Styles */

* {
  font-size: 18px;
}

html {

}


body {
  font-family: 'Arial-MT', sans-serif;
  color: #292929;
}

a {
  text-decoration: none;
  transition: .3s;
  color: #0f4880;
  cursor: pointer;
}

a:hover {
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: underline;
}

a.login {
  font-size: 1.2rem;
}

a:hover.login {
  border: none;
  font-size: 1.7rem;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  color: #1978d4;
}

h2 {
    font-size: 2rem;
}
h3 {
  color: #1978d4;
}

h4 {
   color: #000;
  text-decoration: underline;
}

input,
textarea,
select {
  border-radius: 3px;
  background-color: hsla(0, 0%, 89%, 1);
  padding: 1rem;
}

/* Reusable Component - Button */

.button {
  border-radius: 30px;
  background-color: #fefefe; 
  color: #1978d4;
  text-align: center;
  transition: .25s;
  font-weight: bold;
  box-sizing: border-box;
  justify-self: center;
  display: flex;
  align-items: center;
  padding: .875rem 1rem;
  border-radius: 54px;
  border: 1px solid #fff;
  box-shadow: 4px 4px 10px;
}


.button:hover,
a.button:hover {
  color: #fff;
  background-color: #009fd4;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px #000;
  text-decoration: none;
}


/* Reusable Component - Image Container */

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Main Section */

main {
  grid-area: main;
  display: grid;
  justify-items: center;
  text-align: center;
  background-color: #fefefe;
  border-top: 1px solid hsla(0, 0%, 98%, 1);
}

main h2 {
  margin-bottom: 2rem;
}


/* Reusable Component - Product List */

.product-list-section {
  padding: 2rem 5rem 3.75rem 5rem;
}

@media only screen and (max-width: 720px) {

  .product-list-section {
    padding: 0;
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3.75rem;
}

.product-category {
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 1);
  border: solid 1px hsla(0, 0%, 91%, 1);
}

.product-category .description-category {
  padding: 1.5rem;
  text-align: left;
}

.product-category h3 {
  margin-bottom: .75rem;
  color: hsla(0, 0%, 29%, 1);
}

.product-item {
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 1);
  border: solid 1px hsla(0, 0%, 91%, 1);
}

.product-item .description {
  padding: 1.5rem;
  text-align: left;
}

.product-item .image-container img {
  height: 100%;
}

.product-item p {
  margin-bottom: .75rem;
  color: #0f4880;
  position: relative;
  display: block;
  font-weight: bold;
}

.description p a {
  color: #0f4880;
}

.product-item .price {
  color: #696969;
  float: right;
}


/* Reusable Component - Form Field With Label */
.field {
  display: flex;
  flex-direction: column;
}

.field label {
  padding-bottom: .75rem;
  color: #2b2b2b;
}

/* Reusable Component - Navigation Breadcrumbs */

div.breadcrumbs {
  grid-area: breadcrumbs;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  color: inherit;
  padding: 0 3rem 2rem 3rem; 
}

ul.breadcrumb {
  padding: 1rem 0 0.5rem 0;
  list-style: none;
  text-align: left;
}

ul.breadcrumb li {
    font-size: inherit;
    float: left;
}

ul.breadcrumb li+li:before {
    padding: 0 0.5rem;
    color: hsla(0, 0%, 29%, 1);
    content: ">";
}
ul.breadcrumb li a {
    color: #2b2b2b;
    text-decoration: none;
}

.breadcrumb a:hover{
  color: #2b2b2b;
  text-decoration: none;
  border-bottom: 1px dotted #2b2b2b;
}

 /* Site-Wide Grid */

.container {
  display: grid;
  grid-template-areas:  'header'
                        'nav-main'
                        'nav-sub'
                        'breadcrumbs'
                        'main'
                        'footer';
}

/* Header */

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 22rem 1fr 11rem 11rem;
  align-items: center;
  padding: .75rem 5rem;
  font-size: inherit;
  background-color: #fefefe;
}

.search-bar {
  display: flex;
  border-radius: 33px 53px 33pzx 53px;
  width: 100%;
}

.search-bar input {
  flex-grow: 1;
  border-top-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 30px;
  border: 1px solid #2b2b2b;
}

.search-bar .icon {
  background-color: hsla(0, 0%, 89%, 1);
  border-radius: 0 53px 53px 0;
  border: 1px solid #2b2b2b;
  padding: 1rem;
}

.search-bar .icon img {
  vertical-align: middle;
}

.cart {
  justify-self: center;
  display: flex;
  align-items: center;
  padding: .875rem 1rem;
  border-radius: 54px;
  border: 1px solid #fefefe;
  box-shadow: 4px 4px 10px;
  background-color: #009fd4;
  color: #fefefe
}

a.cart {
  margin: 1rem 0;
}

a:hover.cart {
  color: #fff;
  background-color: #009fd4;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px #000;
}

.cart img {
  padding-left: 1rem;
}


nav[role="main"] {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-area: nav-main;
  background-color: #009fd4;
  color: #fefefe;
  border-top: 1px solid hsla(0, 0%, 85%, 1);
  padding-right: 24.25rem;
  padding-left: 25rem;
  box-sizing: border-box;
  min-height: 2.626rem;
  grid-gap: 0;
  align-items: center;
}

 nav[role="main"]  a {
  border-right: 1px solid #fff;
  text-align: center;
  line-height: 2.626rem;
  width: 100%;
  font-weight: bold;
  height: 100%;
  color: #fefefe
}

nav[role="main"]  a.deals {
  border-left: 1px solid #fff;
  color: #D50000;
}

nav[role="main"]  a:hover {
  background-color: #fefefe;
  color:  #009fd4;
  font-size: 1.2rem;
  text-decoration: none;
}

nav[role="main"]  a:hover.deals {
  padding: 0;
  color: #D50000;
}


nav[role="sub"] {
  grid-area: nav-sub;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  padding: 1rem 0px; 
}

nav[role="sub"] a:hover{
  font-size: 1.2rem;
  border-bottom: 1px dotted inherit;
}

/* Footer */

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1.5rem;
  background-color: hsla(0, 100%, 100%, 1);
}

footer img {
  align-self: center;
  justify-self: center;
}

footer .links {
  display: grid;
}

footer h3 {
  font-size: 1rem;
  text-decoration: underline;
  color: #000;
}

footer a {
  font-size: 0.95rem;
  line-height: 1.5;
}

footer a:hover {
  border: none;
}

@media only screen and (max-width: 810px) {
  footer {
    grid-template-columns: repeat(3, 1fr);
  }

  footer img {
    grid-column: 1 / span 3;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 645px) {
  footer {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  footer img {
    grid-column: auto;
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1490px) {
  nav[role="main"] {
    padding-right: 20rem;
    padding-left: 20rem;
  }
}

@media only screen and (max-width: 1320px) {
  nav[role="main"] {
    padding-right: 18rem;
    padding-left: 18rem;
  }
}

@media only screen and (max-width: 1120px) {
  nav[role="main"] {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  
  header div {
    margin-top: 1rem;
  }

  nav[role="sub"] {
      display: none;
    }
 .product-list {
    grid-template-columns: repeat(2, 1fr);
  }

   
  a.login {
    justify-self: center;
    clear: both;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 960px) {
  nav[role="main"] {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media only screen and (max-width: 785px) {
  nav[role="main"] {
    padding: 0;
  }
  
  nav[role="main"]a.deals,
  nav[role="main"]a {
    border-style: none;
   }

  nav[role="main"]a:hover {
/*  background-color: rgba(255, 255, 255,0.3);
  color: rgba(170, 61, 1, 1);
*/  padding: 0;
  }

}

@media only screen and (max-width: 740px) {
  nav[role="main"] {
    grid-template-columns: 1fr;
  }
  
  div.links h3 {
    margin-top: 0.85rem;
  }

    .desktop {
    display: none;
  }
  
  h2.deals {
    margin-top: 2rem;
  }
  header {
    justify-items: center;
    padding: 0.5rem 0;
  }
  
.search-bar {
  display: flex;
  border-radius: 33px 53px 33pzx 53px;
  width: 90%;
}

  .product-list-section {
    padding: 0;
  }
  
  .product-item .image-container img,
  .product-list-section img {
    max-height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  
  h2.deals {
    margin-top: 2rem;
  }

    .product-list {
    grid-template-columns: 1fr;
      justify-items: center;
  }

}

@media only screen and (max-width: 680px) {
  body {
    margin: 0;
    padding: 0;
  }
  .desktop {
    display: none;
  }

  }
