#main {
  text-align: ceenter;
  justify-items: auto;
}

.jobs {
  padding: 3.75rem 11.75rem 7.5625rem 11.75rem;
}

.jobs h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: baseline;
  margin-bottom: 3.125rem;
  justify-content: center;
}

.job-list {
  border-top: solid 1px hsla(0, 0%, 59%, 1);
}

.job {
  border-bottom: solid 1px hsla(0, 0%, 59%, 1);
  padding: 1rem 0;
}

.job h4 {
  padding-bottom: .5rem;
  font-size: inherit;
  line-height: 1.2;
}

div.field input.jobsearch {
  width: 100%;
  border-radius: 30px;
  border: 1px solid gray;
  align-self: end;
}

/*
#main .button {
  height: fit-content;
  padding: 1rem 1.6rem;
  background-color: #FDC029;
  color: #AA3D01;
  font-family: arial, sans-serif;
  font-weight: bolder;
  width: 5rem;

}
*/
.go {
  justify-self: center;
  display: flex;
  align-self: center;
  margin-top: 1rem;
  padding: .875rem 1rem;
  border-radius: 54px;
  border: 1px solid #007a7c;
  box-shadow: 4px 4px 10px;
}
/*
a.go {
  background-color: #FDC029;
  color: #AA3D01;
  font-family: arial, sans-serif;
  font-weight: bolder;
}


#main .button:hover,
a:hover.button.go {
  color: #fff;
  background-color: #AA3D01;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px #000;
}
*/

#main #see-all-jobs.button {
  justify-self: center;
  margin-top: 3.6875rem;
  width: 10rem;
  padding: 1rem 1rem;
  min-width: 5rem;
}


@media only screen and (max-width: 740px) {
  form {
    grid-template-columns: 1fr;
  } 
  
  .jobs {
    padding-right: 0;
    padding-left: 0;
    width: 80%;
    justify-content: center;
  }
  
  .go {
    margin-top: 2rem;
  }
}
