#main {
  text-align: left;
  justify-items: auto;
}

.sell {
  padding: 3.75rem 11.75rem 18.75rem 11.75rem;
}

.sell h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

form {
  display: grid;
  grid-template-areas:  'firstname lastname . account '
                        'name name price quantity'
                        'description description description description'
                        '. . . submit';
  font-size: inherit;
  grid-gap: 3px;
}

/*.search-bar.sell */input {
  min-width: 80%;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 30px;
}

div.field label {
  font-weight: bold;
}

select {
  background-color: hsla(0, 0%, 100%, 1);
  font-size: inherit;
}

textarea {
  min-height: 12rem;
  font-size: inherit;
}

#firstname {
  grid-area: firstname;
  margin-right: .5rem;
}

#lastname {
  grid-area: lastname;
  margin-right: .5rem;
}

#account {
  grid-area: account;
  margin-right: .5rem;
}

#name {
  grid-area: name;
  margin-right: .5rem;
  margin-top: 1.5rem;
}

#price {
  grid-area: price;
  margin-right: .5rem;
  margin-top: 1.5rem;
}

#quantity {
  grid-area: quantity;
  margin-top: 1.5rem;
}

#description {
  grid-area: description;
  margin-top: 1.5rem;
}

#submit {
  grid-area: submit;
  justify-self: end;
  margin-top: 1rem;
}

a:hover#submit {
/*    color: #fff;
  background-color: #AA3D01;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px #000;
*/
}

a#submit{
/*  padding: .875rem 1rem;
  border-radius: 54px;
    border: 1px solid #AA3D01;
  box-shadow: 4px 4px 10px;
  background-color: #FDC029;
  color: #AA3D01;
  font-family: arial, sans-serif;
  font-weight: bolder;
*/}

@media only screen and (max-width: 1100px) {
  .sell {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 970px) {
  header.search-bar {
    width: 80%;
  }
  
  form {
    grid-template-areas:  'firstname lastname'
                          'account .'
                          'name name'
                          'price quantity'
                          'description description'
                          '. submit';
  }
}

@media only screen and (max-width: 660px) {
  form {
    grid-template-areas:  'firstname'
                          'lastname'
                          'account'
                          'name'
                          'price'
                          'quantity'
                          'description'
                          'submit';
  }
  
  #submit {
    justify-self: center;
  }
  
  #main {
    padding: 0.2rem 0.2rem 2rem 0.2rem;
    margin: 0 0 0.5rem 0;
    justify-self: center;
    justify-items: stretch;
    width: 80%;
  }
  
  #main h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  
  label {
    margin-left: 0.2rem;
    margin-top: 0.8rem;
  }
}